.figureContainer {
  width: 50%;
  &__figureBar {
    position: relative;
    top: 14px;
    left: -100px;
    margin-top: -5px;

    @media screen and (max-width: 1400px) {
      left: -200px;
    }
  }
  &__figureBody {
    position: relative;
    margin-left: 365px;
    @media screen and (max-width: 1400px) {
      margin-left: 265px;
    }
    @media screen and (max-width: 750px) {
      height: 600px;
    }

    @media screen and (min-width: 1450px) {
      height: 600px;
    }

    img {
      position: absolute;
      &:nth-child(1) {
        z-index: 1;
        left: -160px;
      }

      &:nth-child(2) {
        top: 175px;
        left: -85px;
      }

      &:nth-child(3) {
        top: 238px;
        left: -112px;
      }

      &:nth-child(4) {
        left: -46px;
        top: 242px;
      }

      &:nth-child(5) {
        left: -194px;
        top: 239px;
      }

      &:nth-child(6) {
        top: 337px;
        left: 50px;
        z-index: -1;
      }

      &:nth-child(7) {
        left: -197px;
        top: 335px;
        z-index: -1;
      }

      &:nth-child(8) {
        left: -56px;
        top: 386px;
      }

      &:nth-child(9) {
        top: 386px;
        left: -145px;
      }

      &:nth-child(10) {
        top: 541px;
        left: -28px;
        z-index: -1;
      }

      &:nth-child(11) {
        top: 541px;
        left: -176px;
        z-index: -1;
      }
    }
  }
}
