.letterBox {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin: 5px;
  text-align: center;

  span {
    font-family: "AllerDisplay";
    font-size: 5rem;
    color: white;
  }

  @media screen and (max-width: 1400px) {
    width: 80px;
    height: 80px;

    span {
      font-size: 4rem;
    }
  }
}
