.missedLettersContainer {
  font-family: "AllerDisplay";
  margin-right: 80px;
  width: 50%;
  h2 {
    margin-top: 50px;
    color: gray;
    font-size: 2.5rem;
  }

  .letters {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    span {
      font-size: 5rem;
      margin: 10px;
      color: #5e6895;
    }
  }
}
