.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;

  &__figure {
    display: flex;
    justify-content: space-between;
  }

  &__letters {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media screen and (min-width: 750px) and (max-width: 1400px) {
      justify-content: flex-end;
      margin-right: 5px;
    }
  }

  &__blueBox {
    height: 450px;
    width: 600px;
    background: linear-gradient(
      -45deg,
      #5b74e4 0%,
      #5b74e4 35%,
      transparent 35%
    );
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  &__loading {
    font-size: 4rem;
    font-family: "AllerDisplay";
    color: gray;
  }

  &__gameOver {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
    font-family: "AllerDisplay";

    span {
      &:nth-child(1) {
        font-size: 4rem;
      }

      &:nth-child(2) {
        margin-top: 20px;
        font-size: 2rem;
        color: #e79527;
        border: 5px dashed #e79527;
        padding: 20px;
        border-radius: 3rem;

        &:hover {
          cursor: pointer;
          color: white;
          background: #e79527;
          border: 5px dashed white;
        }
      }
    }
  }
}
